@import '../../../styles/variables';

.Documento {
	.Wrapper {
		.BoxPageLeft {
			display: grid;
			grid-template-columns: auto 42px;
		}
		.BoxPageRight {
			display: grid;
			grid-template-columns: 42px auto;
		}
	}
}
