@import '../../../../styles/variables';

.Setting {
  position: relative;
  padding: 60px 40px 0 100px;
  header {
    display: grid;
    margin-bottom: 40px;
    h6 {
      font-size: 0.845rem;
      text-align: center;
      color: $gray_light;
      background-color: $write_gray_2;
      margin-bottom: 40px;
      padding: 4px 6px;
      width: 12%;
      border-radius: 2px;
      font-weight: 400;
    }
    h1 {
      display: inline-block;
      margin-bottom: 0;
      width: 70%;
      font-weight: 600;
    }
    p {
      color: $gray_light;
      margin-bottom: 0;
      font-size: 0.845rem;
      letter-spacing: 1px;
    }
  }
  .boxSubSetting {
    button {
      background-color: transparent;
      margin-right: 15px;
      border: none;
      &.btnGeneral {
        line-height: 1;
        text-align: center;
        padding: 0;
        width: 36px;
        height: 36px;
        border-radius: 100%;

      }
      &.btnLogOut {
        background-color: #ffeeef;
        @extend .btnGeneral;
        &:hover {
          background-color: #ffc2c6;
        }
      }
      &.btnConfiguration {
        background-color: $write_gray_1;
        @extend .btnGeneral;
        &:hover {
          background-color: $write_gray_2;
        }
      }
      &.btnContact {
        background-color: #fff3d1;
        @extend .btnGeneral;
        &:hover {
          background-color: #fae3a2;
        }
      }
    }
    :global {
      .bx-log-out-circle {
        font-size: 22px;
        color: $red;
      }
      .bx-cog {
        font-size: 22px;
        color: $gray_light;
      }
      .bx-envelope {
        font-size: 22px;
        color: #fdc717;
      }
    }
  }
  .boxStorage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 0;
    .infoStorage {
      margin-bottom: 6px;
      width: 100%;

      p {
        display: block;
        font-size: 11px;
        line-height: 1;
        // height: 38px;
        margin: 10px 0;
        text-transform: none;

        &:hover {
          color: $gray_medium;
        }
      }

      .linePorce {
        display: block;
        position: relative;
        height: 3px;
        border-radius: 4px;

        .cantPorce {
          display: block;
          position: absolute;
          border-bottom: 3px solid #2572dd;
          z-index: 3;
        }
        .bgPorce {
          position: absolute;
          width: 100%;
          border-bottom: 3px solid $write_gray_3;
          z-index: 1;
        }
      }

      :global {
        .bx {
          font-size: 23px;
          color: $blue;
          position: relative;
          top: -1px;
          margin-right: 6px;
        }
      }

      a {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
      }
    }
  }
}