@import '../../../../styles/variables';

.Setting {
  position: relative;
  padding: 60px 70px 80px 130px;
  height: 100vh;
  .titleSetting {
    font-size: 0.845rem;
    text-align: center;
    color: $gray_light;
    background-color: $write_gray_2;
    margin-bottom: 40px;
    padding: 4px 6px;
    width: 12%;
    border-radius: 2px;
    font-weight: 400;
  }
  header {
    display: grid;
    grid-template-columns: 100px auto;
    grid-gap: 20px;
    margin-bottom: 40px;
    position: relative;
    .boxEditPhoto {
      position: absolute;
      left: 16%;
      bottom: 8%;
      z-index: 2;
      button {
        font-size: 18px;
        background-color: #caffe9 ;
        width: 36px;
        height: 36px;
        border: none;
        border-radius: 100%;
        padding: 0;
        line-height: 0; 
        z-index: 1;
        border: 4px solid #fff;
        &:hover {
          background-color: #9cf0cd;
        }
      }
      .InputFile {
        display: block;
        opacity: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 2;
      }
    }
    .ProfileImg {
      display: block;
      font-size: 12px;
      text-align: center;
      color: #fff;
      position: relative;
      width: 100px;
      height: 100px !important;
      border-radius: 100%;
      background-size: cover;
      overflow: hidden;
      z-index: 1;
      img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
        width: 100%;
height: auto;
      }
    }
    .ProfileData {
      h1 {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 600;
      }
      p {
        font-size: 0.845rem;
        color: $gray_light;
        margin-bottom: 0;
        letter-spacing: 0.5px;
      }
    }
  }
  .boxSubSetting {
    button {
      background-color: transparent;
      margin-right: 15px;
      border: none;
      &.btnGeneral {
        line-height: 1;
        text-align: center;
        padding: 0;
        width: 36px;
        height: 36px;
        border-radius: 100%;

      }
      &.btnLogOut {
        background-color: #ffeeef;
        @extend .btnGeneral;
        &:hover {
          background-color: #ffc2c6;
        }
      }
      &.btnConfiguration {
        background-color: $write_gray_1;
        @extend .btnGeneral;
        &:hover {
          background-color: $write_gray_2;
        }
      }
      &.btnContact {
        background-color: #fff3d1;
        @extend .btnGeneral;
        &:hover {
          background-color: #fae3a2;
        }
      }
    }
    :global {
      .bx-log-out-circle {
        font-size: 22px;
        color: $red;
      }
      .bx-cog {
        font-size: 22px;
        color: $gray_light;
      }
      .bx-envelope {
        font-size: 22px;
        color: #fdc717;
      }
    }
  }
  .boxStorage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 0;
    .infoStorage {
      margin-bottom: 6px;
      width: 100%;
      p {
        display: block;
        font-size: 11px;
        line-height: 1;
        // height: 38px;
        margin: 10px 0;
        text-transform: none;

        &:hover {
          color: $gray_medium;
        }
      }

      .linePorce {
        display: block;
        position: relative;
        height: 3px;
        border-radius: 4px;

        .cantPorce {
          display: block;
          position: absolute;
          border-bottom: 3px solid #2572dd;
          z-index: 3;
        }
        .bgPorce {
          position: absolute;
          width: 100%;
          border-bottom: 3px solid $write_gray_3;
          z-index: 1;
        }
      }

      :global {
        .bx {
          font-size: 23px;
          color: $blue;
          position: relative;
          top: -1px;
          margin-right: 6px;
        }
      }

      a {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
      }
    }
  }
  .boxProfile {
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
    width: 100%;
    .ProfileDetail {
      width: 65%;
      .Heading {
        display: flex;
        justify-content: space-between;
        color: $gray_dark;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 2px solid $write_gray_1;
        .Title {
          display: flex;
          :global {
            .bx {
              font-size: 16px;
              line-height: 1.2;
              color: $gray_dark !important;
            }
          }
          h6 {
            margin-bottom: 0;
            margin-left: 8px;
            font-weight: 500;
          }
        }
        button {
          line-height: 0; 
          text-align: right;
          background-color: transparent;
          margin: 0;
          padding: 0;
          border: none;
          &:hover {
            :global {
              .bx {
                color: $green !important;
              }
            }
          }
          :global {
            .bx {
              font-size: 22px;
              line-height: 0.8;
              color: $gray_dark !important;
            }
          }
          .activeStylEditable {
            color: $green !important;
          }
        }
      }
    }
    form {
      :global {
        .form-group {
          display: flex;
          margin-bottom: 10px;
          label {
            font-size: 0.87rem;
            color: $gray_light !important;
            padding: 0;
            font-weight: 300;
          }
          .col-sm-7  {
            p {
              font-size: 0.87rem;
              line-height: 0;
              color: $heading;
              margin-bottom: 0 !important;
              padding: 0;
              font-weight: 400;
              span {
                color: $write_gray_3;
                font-style: italic;
                font-weight: 300;
              }
            }
            input {
              font-size: 0.87rem;
              line-height: 0 !important;
              text-align: right;
              color: $heading !important;
              background-color: transparent !important;
              margin: 0 !important;
              padding: 0 !important;
              height: 24px;
              border-radius: 0 !important;
              border-top: none !important;
              border-left: none !important;
              border-right: none !important;
              border-bottom: 0.5px dotted $write_gray_3 !important;
              font-weight: 400;
              &:focus {
                box-shadow: none !important;
              }
            }
          }
        }
      }
      button {
        margin-top: 20px;
      }
      .alertNotConfirman {
        font-size: 0.9rem;
        color: $red;
        font-weight: 300;
        :global {
          .bx {
            position: relative;
            top: 1px;
            margin-right: 5px;
          }
        }
      }
      .alertConfirman {
        font-size: 0.9rem;
        color: #49cba4;
        font-weight: 300;
        :global {
          .bx {
            position: relative;
            top: 1px;
            margin-right: 5px;
          }
        }
      }
    }
    
  } 
}