@import '../../../styles/variables';
@import '../../../styles/icons.css';

.Sidebar {
  display: block;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 68px;
  height: 100vh;
  z-index: 10;

  @keyframes fade-on-keyframes {
		from {
			opacity: 0;
			top: 0;
		}

		to {
			opacity: 1;
			left: 300;
		}
  }
  nav {
    margin: 30px 0;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: $gray_light;
    margin: 10px 0 20px;
    width: 68px;
    height: 40px;
    transition: all ease-in-out .2s;

    [class^="icon-"] {
      font-size: 26px;
      text-align: center;
      color: $gray_light;
      margin-bottom: 0;
    }
  }
 
  .boxSigned {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    width: 68px;
  }
  
 
}

:global {
  .selected {
    color: $blue;
    position: relative;
    height: 25px;
    transition: all ease-in-out .2s;
    &:before {
      content: '';
      display: block;
      background-color: $blue;
      position: absolute;
      left: -16px;
      width: 20px;
      height: 40px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;

    }
    [class^="icon-"] {
      color: $blue !important;
      position: relative;
      left: 0px;
    }
  }
}


.boxOpenSetting {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 600px;
  height: 100%;
  z-index: 99;
}

@keyframes fade-on-keyframes {
  from {
    left: -540px;
  }

  to {
    left: 0;
  }
}


@keyframes fade-off-keyframes {
  from {
    left: 0;
  }

  to {
    left: -540px;
  }
}

.FadeOn {
  animation: fade-on-keyframes 0.5s;
}

.FadeOff {
  animation: fade-off-keyframes 0.5s;
}