@import '../../../styles/variables';

.InputBtnAdd {
  label {
    display: block;
    font-size: 1.15rem;
    color: $heading;
    margin-bottom: 0;
    font-weight: 600;
  }

  .GroupBox {
    position: relative;
    @media (min-width: 1440px) {
      grid-template-columns: auto 22%;
    }

    input[type="text"] {
      width: 100%;
      margin-right: 10px;
      padding: 6px 22px 6px 2px;
      border-radius: 4px;
      caret-color: $blue;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 2px solid $write_gray_1;
      &::placeholder{
        font-size: 0.7rem;
        color: $gray_medium;
      } 
    }

    button {
      line-height: 0;
      position: absolute;
      background-color: transparent;
      border: none;
      right: 0;
      padding: 0;
      top: 5px;
      :global {
        .bx-edit {
          font-size: 20px;
          padding: 2px 0;
          color: $write_gray_3;
        }
      }
    }
  }
}
.cssBtnActive {
  color: $blue !important;
}