@import '../styles/variables';

.SignUp {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: 80vh;
  .boxHeadign {
    text-align: center;
    margin-bottom: 40px;
    width: 200%;
    h4 {
      color: $black;
      margin-bottom: 20px;
      font-weight: 700;
    }
  }
  .boxForm {
    width: 200%;
    label {
      font-size: 0.85rem;
      color: $gray_light;
    }
    input {
      background-color: transparent;
      width: 100%;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid $write_gray_3;
      caret-color: $blue;
    }
    .btnRegistra {
      margin-top: 40px;
    }
    .btnGoogle {
      display: flex;
      justify-content: center;
      justify-items: center;
      line-height: 0;
      color: #fff;
      position: relative;
      margin-top: 10px;
      padding: 6px;
      width: 100%;
      &:after {
        transition: all 0.3s ease;
        content: '';
        display: block;
        position: absolute;    
        bottom: 0;
        width: 0;   
      }
      img {
        height: 24px;
      }
      &:hover {
        &:after {
          content: '';
          width: 30px;
          border-bottom: 2px solid $red;      
        }
      }
    }
  }
}