@import '../../../../styles/variables';

.ImagenesDetail {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;

  .ImagenOverw {
    @extend %boxShadowContent;
    @extend %boxContent;
    cursor: pointer;
    height: 140px;
    overflow: hidden;
    background-size: cover;

    img {
      max-height: 100%;
    }
  }
}