@import '../../../../styles/variables';

.DocumentoPage {
	.BoxPage {
		display: block;
		margin-bottom: 40px;
		padding: 20px 30px;
		@extend %boxContent;
		@extend %boxShadowContent;
	}
	.BoxFile {
		display: grid;
		position: relative;
		grid-template-rows: auto auto;
		justify-content: center;
		align-content: center;
		text-align: center;
		background-color: $write_gray_1;
		margin-bottom: 20px;
		padding: 96px 20px;
		width: 100%;
		height: 233px;
		border: 2px dotted $write_gray_3;
		&:hover {
			background-color: $write_gray_2;
		}
		h6 {
			font-size: 0.8rem;
			color: $black;
			text-transform: uppercase;
		}

		.InputFile {
			display: block;
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
			z-index: 2;
		}

		p {
			font-size: 0.75rem;
			text-align: center;
			color: $gray_light;
			position: absolute;
			bottom: 0;
			left: 0;
			margin: 0 auto;
			padding-bottom: 6px;
			width: 100%;
			z-index: 4;
		}

		button {
			font-size: 0.875rem;
			background-color: #007bff;
			border: none;
			cursor: pointer;

			&:hover {
				background-color: $blue_medium;
			}
		}
	}
}

.showUpload {
	display: block;
	background-color: $green;
	position: absolute;
	bottom: -1.5px;
	left: 0;
	width: 0%;
	height: 4px;
	z-index: 2;
}
