@import '../../../../styles/variables';

.DocumentoMarker {
	position: relative;
	cursor: pointer;
	.pinMarkerSelect {
		display: block;
		background-color: $red;
		position: absolute;
		padding: 0px;
		width: 36px;
		height: 14px;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
		z-index: 100;
		cursor: pointer;
	}
	.pinMarkerLeftSelect {
		left: -14px;
		transform: rotate(-180deg);
		@extend .pinMarkerSelect;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: -8px;
			border-top: 7px solid transparent;
			border-left: 8px solid $red;
			border-bottom: 7px solid transparent;
			z-index: 2;
		}
		&:after {
			content: '';
			display: block;
			background-color: $red;
			box-shadow: -2px 0px 4px 0px rgba(0, 0, 0, 0.11);
			position: absolute;
			top: 0;
			right: 9px;
			width: 5px;
			height: 14px;
			z-index: 2;
		}
		&:hover {
			background-color: $red_dark;
			&:before {
				border-top: 7px solid transparent;
				border-left: 8px solid $red_dark;
				border-bottom: 7px solid transparent;
			}
			&::after {
				background-color: $red_dark;
				box-shadow: -2px 0px 1px 0px rgba(0, 0, 0, 0.1);
			}
		}
	}
	.pinMarkerRightSelect {
		left: 20px;
		transform: rotate(0deg);
		@extend .pinMarker;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: -8px;
			border-top: 7px solid transparent;
			border-left: 8px solid $red;
			border-bottom: 7px solid transparent;
			z-index: 2;
		}
		&:after {
			content: '';
			display: block;
			background-color: $red;
			box-shadow: -2px 0px 4px 0px rgba(0, 0, 0, 0.11);
			position: absolute;
			top: 0;
			right: 9px;
			width: 5px;
			height: 14px;
			z-index: 2;
		}
		&:hover {
			background-color: $red_dark;
			&:before {
				border-top: 7px solid transparent;
				border-left: 8px solid $red_dark;
				border-bottom: 7px solid transparent;
			}
			&::after {
				background-color: $red_dark;
				box-shadow: -2px 0px 1px 0px rgba(0, 0, 0, 0.1);
			}
		}
	}


	ul {
		position: relative;
		margin: 0;
		padding: 0;
		height: 100%;
		li {
			display: flex;
			position: absolute;
			margin: 0;
			padding: 0;
			z-index: 1;
			transition: all ease .3s;
			opacity: 1;
			&:hover {
				.btnDeleteLeft,
				.btnDeleteRight {
					display: flex;
					opacity: 1;
				}
				span {
					display: none;
					opacity: 0;
				}
			}
			.btnDeleteLeft {
				display: none;
				:global {
					.bx-trash-alt {
						color: $red;
						position: relative;
						top: -3px;
						left: -8px;
						cursor: pointer;
					}
				}
			}
			.btnDeleteRight {
				display: none;
				opacity: 0;
				:global {
					.bx-trash-alt {
						color: $red;
						position: relative;
						top: -3px;
						right: 36px;
						cursor: pointer;
					}
				}
			}
			span {
				position: absolute;
				left: 6px;
				bottom: 12px;
				color: $gray_light;
				font-size: 0.8rem;
			}
			.pinMarker {
				display: block;
				background-color: $green;
				position: relative;
				padding: 0px;
				width: 36px;
				height: 14px;
				border-top-left-radius: 2px;
				border-bottom-left-radius: 2px;
				z-index: 100;
				cursor: pointer;
			}
			.pinMarkerLeft {
				left: -14px;
				transform: rotate(-180deg);
				@extend .pinMarker;

				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					right: -8px;
					border-top: 7px solid transparent;
					border-left: 8px solid $green;
					border-bottom: 7px solid transparent;
					z-index: 2;
				}
				&:after {
					content: '';
					display: block;
					background-color: $green;
					box-shadow: -2px 0px 4px 0px rgba(0, 0, 0, 0.11);
					position: absolute;
					top: 0;
					right: 9px;
					width: 5px;
					height: 14px;
					z-index: 2;
				}
				&:hover {
					background-color: #0cbb84;
					&:before {
						border-top: 7px solid transparent;
						border-left: 8px solid #0cbb84;
						border-bottom: 7px solid transparent;
					}
					&::after {
						background-color: #0cbb84;
						box-shadow: -2px 0px 1px 0px rgba(0, 0, 0, 0.1);
					}
				}
			}
			.pinMarkerRight {
				left: 20px;
				transform: rotate(0deg);
				@extend .pinMarker;

				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					right: -8px;
					border-top: 7px solid transparent;
					border-left: 8px solid $green;
					border-bottom: 7px solid transparent;
					z-index: 2;
				}
				&:after {
					content: '';
					display: block;
					background-color: $green;
					box-shadow: -2px 0px 4px 0px rgba(0, 0, 0, 0.11);
					position: absolute;
					top: 0;
					right: 9px;
					width: 5px;
					height: 14px;
					z-index: 2;
				}
				&:hover {
					background-color: #0cbb84;
					&:before {
						border-top: 7px solid transparent;
						border-left: 8px solid #0cbb84;
						border-bottom: 7px solid transparent;
					}
					&::after {
						background-color: #0cbb84;
						box-shadow: -2px 0px 1px 0px rgba(0, 0, 0, 0.1);
					}
				}
			}
		}
	}
}
