@import '../../../styles/variables';

.RichTextEditor {
  :global {
    .public-DraftEditorPlaceholder-root {
      padding: 22px 21px;
      font-style: italic;
    }

    .draftJsToolbar__toolbar__dNtBH {
      box-shadow: none;
      margin-bottom: 10px;
      border: none;
    }

    .draftJsToolbar__button__qi1gf {
      padding-top: 0;
    }

    .DraftEditor-editorContainer {
      padding: 16px 20px;
      border: 2px solid $write_gray_1;
      border-radius: 4px;
      min-height: 346px;
      caret-color: $blue;

      img {
        margin-bottom: 10px;
        margin-right: 10px;
      }
    }


    .RichTextEditor :global(.public-DraftEditor-content) {
      min-height: 140px;
    }

    span[data-text] {
      &::selection {
        color: #fff !important;
        background-color: $blue !important;
      }
    }

    ul {
      li {
        .public-DraftStyleDefault-block {
          margin: 0;
        }
      }
    }

    .public-DraftStyleDefault-block {
      margin: 0.2em 0;
    }

    .draftJsToolbar__button__qi1gf {
      background-color: transparent;

      &:hover {
        background: #f3f3f3;
      }

      &.draftJsToolbar__active__3qcpF {
        background: #f3f3f3;
      }

      svg {
        fill: #5c6b72;
      }
    }

    .draftJsEmojiPlugin__button__qi1gf {
      padding-top: 0 !important;
    }

    .draftJsEmojiPlugin__alignmentTool__2mkQr {
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
      border: 1px solid $write_gray_1;
      @extend %boxContent;
    }

    .draftJsEmojiPlugin__button__qi1gf {
      background-color: transparent;
    }

    .draftJsEmojiPlugin__button__qi1gf {
      svg {
        fill: $gray_light;
      }
    }

    .draftJsEmojiPlugin__active__3qcpF {
      svg {
        fill: #485358;
      }
    }

    .draftJsEmojiPlugin__emojiSelectButton__3sPol,
    .draftJsEmojiPlugin__emojiSelectButtonPressed__2Tezu {
      width: 36px;
      height: 34px;
      border: none;
      line-height: 1;
      color: #5c6b72;
      border-radius: 0;
      position: relative;
      top: -3px;
    }

    .draftJsEmojiPlugin__emojiSelectPopover__1J1s0 {
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
      border: 1px solid $write_gray_1;
      @extend %boxContent;
    }
  }

  .UndoButton {
    display: inline-block;
    font-size: 22px;
    line-height: 1;
    color: #485358;
    background-color: transparent;
    position: relative;
    padding: 6px 6px 3px;
    border: none;
    cursor: pointer;

    &:focus {
      color: #999;
      outline: 0;
    }

    &:hover {
      color: #485358;
      background-color: #f3f3f3;
    }

    &:active {
      color: #485358;
      background-color: #f3f3f3;
    }

    &:disabled {
      color: $gray_light;
    }

  }
}