@import '../../../../styles/variables';

.Gramaticales {
  h5 {
    font-size: 16px !important;
    color: #9ca7b4;
    font-weight: 400;
  }

  label {
    &:after {
      display: none;
    }
  }

  input[type="radio"] {
    display: none;

    &:checked {
      +.Box {
        border: 2px dashed $green;

        .Icon {
          transform: translateY(30px);
        }

        span {
          opacity: 1;
          transform: translateY(35px);


        }
      }
    }
  }

  .Box {
    display: inline-block;
    text-align: center;
    background-color: #fff;
    position: relative;
    margin-right: 10px;
    width: 150px;
    height: 150px;
    transition: all 250ms ease;
    border: 2px dashed $write_gray_3;
    overflow: hidden;
    will-change: transition;
    cursor: pointer;

    &:active {
      border: 2px dashed $green;
    }

    span {
      font-size: 1.1em;
      color: $gray_light;
      opacity: 0;
      position: absolute;
      right: 0;
      left: 0;
      transition: all 300ms ease;
      transform: translateY(90px);
      font-weight: 400;
      user-select: none;
    }

    .IconBox {
      height: 60px;

      .Icon {

        margin: 0 auto;
        transition: all 300ms ease-in-out;
        transform: translateY(40px);
      }

      .Adjetivo {
        width: 86px;
        height: 60px;
        background-image: url(../../../../assets/icons/adjetivos.svg);
        @extend .Icon;
      }

      .Adverbio {
        position: relative;
        top: 10px;
        width: 85px;
        height: 40px;
        background-image: url(../../../../assets/icons/adverbios.svg);
        @extend .Icon;
      }

      .Verbos {
        position: relative;
        top: -5px;
        width: 86px;
        height: 69px;
        background-image: url(../../../../assets/icons/verbos.svg);
        @extend .Icon;
      }
    }

  }

}