@import '../../../../styles/variables';

.Gramaticales {
  position: relative;

  :global {
    select {
      background: transparent;
      box-shadow: none;
      height: calc(3rem + 2px);
      border-radius: 0 !important;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: 0;
      border-top: 0 !important;
      border-left: 0 !important;
      border-right: 0 !important;
      border-bottom: 1px solid $write_gray_3;
      background-image: none;
      cursor: pointer;

      &::-ms-expand {
        display: none;
      }
    }

    .select {
      display: block;
      position: relative;
      overflow: hidden;
    }

    .bx-chevron-down {
      font-size: 24px;
      color: $gray_dark;
      position: absolute;
      right: 0;
      bottom: 14px;
      transition: .25s all ease;
    }
  }
}