@import '../../../../styles/variables';

.DocumentoGetMarker {
	margin-top: 490px;
	.boxAddTimeVideo {
		display: grid;
		grid-template-columns: 26px auto 12% 12%;
		button {
			font-size: 0.8rem;
			line-height: 0 !important;
			color: #fff;
			padding: 0 !important;
			height: 24px;
			border-radius: 14px;
			font-weight: 600;
		}
		:global {
			.bxs-bookmark {
				font-size: 22px;
				color: $blue;
			}
		}
	}
}
