@import '../../../styles/variables';

.DocumentosMain {
	margin-bottom: 40px;

	.DocumentosItem {
		@extend %boxShadowContent;
		@extend %boxContent;
		margin-bottom: 20px;
		padding: 20px;
		transition: all 0.25s ease-in;
		border-bottom: 1px solid $write_gray_2;
		position: relative;

		.BookMark {
			position: absolute;
			top: -2px;
			right: 10px;

			:global {
				.bxs-bookmark {
					color: $green;
					font-size: 24px;
				}
			}
		}

		.TagMateria {
			display: inline-block;
			font-size: 0.875rem;
			color: $green;
			background-color: rgb(219, 247, 246);
			padding: 2px 8px;
			border-radius: 2px;
			font-weight: 600;
		}

		.CoverEmpty {
			display: block;
			height: 20px;
		}

		.BoxContent {
			margin-top: 20px;
		}

		.DateItem {
			color: $gray_light;

			:global {
				.bx {
					position: relative;
					top: 2px;
					margin-right: 4px;
				}
			}
		}

		h3 {
			color: $heading;
			position: relative;
			margin-bottom: 0;

			&:before {
				content: '';
				background-color: $green;
				position: absolute;
				top: 5px;
				left: -20px;
				width: 4px;
				height: 20px;
			}
		}
	}
}

:global {
	.my-masonry-grid {
		display: flex;
		margin-left: -30px;
		width: auto;
	}

	.my-masonry-grid_column {
		padding-left: 30px;
		background-clip: padding-box;
	}
}
