@import '../../../../styles/variables';

.Heading {
  display: grid;
  grid-template-columns: 93% 7%;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
  padding-bottom: 4px;
  border-bottom: 1px dotted $write_gray_2;

  h5 {
    color: $heading;
    margin-bottom: 0;
    font-weight: 600;
  }

  .btn {
    font-size: 20px;
    text-align: right;
    background-color: transparent;
    padding: 0;
    border: none;

    &:hover {
      color: $blue;
    }
  }

  .btnEditable {
    color: $gray_light;
    @extend .btn;
  }

  .btnActive {
    color: $green;
    @extend .btn;
  }
}

.HeadingResumen {
  display: grid;
  grid-template-columns: 94% 3% 3%;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
  padding-bottom: 4px;
  border-bottom: 1px dotted $write_gray_2;

  h5 {
    color: $heading;
    margin-bottom: 0;
    font-weight: 600;
  }

  .btn {
    font-size: 20px;
    text-align: right;
    background-color: transparent;
    padding: 0;
    border: none;

    &:hover {
      color: $blue;
    }
  }

  .btnEditable {
    color: $gray_light;
    position: relative;
    @extend .btn;

    &:after {
      content: '';
      display: block;
      background-color: $write_gray_3;
      position: absolute;
      top: 4px;
      right: -25%;
      width: 1px;
      height: 16px;
    }
  }

  .btnActiveEditor {
    font-size: 20px;
    text-align: right;
    color: $green;
    background-color: transparent;
    position: relative;
    padding: 0;
    border: none;

    &:hover {
      color: $blue;
    }

    &:after {
      content: '';
      display: block;
      background-color: $write_gray_3;
      position: absolute;
      top: 4px;
      right: -25%;
      width: 1px;
      height: 16px;
    }

  }

  .btnVideo {
    color: $gray_light;
    @extend .btn;
  }

  .btnActiveVideo {
    color: $green;
    @extend .btn;
  }
}