@import '../../../../styles/variables';

.Abreviaturas {
  position: relative;
  :global {
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: 0;
      box-shadow: none;
      border-top: 0 !important;
      border-left: 0 !important;
      border-right: 0 !important;
      border-bottom: 1px solid $write_gray_3;
      border-radius: 0 !important;
      background: transparent;
      background-image: none;
      cursor: pointer;
      height: calc(3rem + 2px);
      &::-ms-expand {
        display: none;
      }
    }
    .select {
      overflow: hidden;
      position: relative;
      display: block;
    }
    .bx-chevron-down {
      transition: .25s all ease;
      color: $gray_dark;
      position: absolute;
      right: 0;
      bottom: 14px;
      font-size: 24px;
    }
  }
}