@import '../../../../../styles/variables';

.SinonimosLists {
  margin: 0;
  padding-left: 5px;
  list-style-type: none;
  list-style-position: outside;

  span {
    display: block;
    font-size: 11px;
    color: $gray_medium;
    position: relative;
    right: -20px;
    font-weight: 700;
  }
}

.SinonimoList {
  position: relative;
  left: 14px;
  margin-bottom: 4px;
  padding: 0;
  cursor: pointer;

  &:hover {
    color: $red;
  }

  &:before {
    content: 'x';
    color: $red;
    position: absolute;
    left: -18px;
    padding-right: 8px;
    font-weight: 500;
  }
}