@import '../../../../styles/variables';

.RichTextEditor {
  :global {
    .public-DraftEditorPlaceholder-root {
      padding: 10px;
      font-style: italic;
    }

    .draftJsToolbar__toolbar__dNtBH {
      box-shadow: none;
      margin-bottom: 10px;
      border: none;
    }

    .draftJsToolbar__button__qi1gf {
      padding-top: 0;
    }

    .DraftEditor-editorContainer {
      padding: 16px 20px;
      border: 2px solid $write_gray_1;
      border-radius: 4px;
      min-height: 346px;
    }

    .RichTextEditor :global(.public-DraftEditor-content) {
      min-height: 140px;
    }

    ul {
      li {
        .public-DraftStyleDefault-block {
          margin: 0;
        }
      }
    }

    .public-DraftStyleDefault-block {
      margin: 0.2em 0;
    }

    .draftJsToolbar__button__qi1gf {
      background-color: transparent;

      &:hover {
        background: #f3f3f3;
      }

      &.draftJsToolbar__active__3qcpF {
        background: #f3f3f3;
      }

      svg {
        fill: #5c6b72;
      }
    }

  }
}