@import '../../../../styles/variables';

.NoteCornellPortada {
  position: relative;
  height: 200px;
  border-radius: 4px;

  .BoxFile {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: $write_gray_1;
    position: absolute;
    top: 0;
    left: 0;
    padding: 80px 20px;
    width: 100%;
    border: 2px dotted $write_gray_3;

    .InputFile {
      display: block;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      z-index: 2;
    }

    p {
      font-size: 0.75rem;
      text-align: center;
      color: $gray_light;
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0 auto;
      padding-bottom: 6px;
      width: 100%;
      z-index: 4;
    }

    button {
      font-size: 0.875rem;
      border: none;
      cursor: pointer;
    }

  }

  .BoxPortada {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    height: 200px;
    background-color: $write_gray_1;

    .BtnRemove {
      font-size: 26px;
      color: $red;
      background-color: transparent;
      position: absolute;
      top: 6px;
      right: 6px;
      border: none;

      &:hover {
        color: $red_dark;
      }
    }
  }

}