@import '../../../../styles/variables';

.DocumentVideo {
	margin-left: 20px;
	.boxVideo {
		margin-bottom: 10px;
	}
	.boxAddTimeVideo {
		display: grid;
		grid-template-columns: 26px auto;
		button {
			border-radius: 100%;
			width: 25px;
			height: 25px;
		}
		:global {
			.bxs-bookmark {
				font-size: 22px;
				color: $blue;
			}
		}
	}
}
