@import '../../../../styles/variables';

.DocumentoControls {
	display: grid;
	grid-template-columns: 35px 65px auto 35px;
	grid-gap: 10px;
	align-items: end;
	position: absolute;
	bottom: 10px;
	padding: 0 10px;
	width: 100%;
	overflow: hidden;
	z-index: 10;
	.progressSlider {
		height: 30px;
		overflow: hidden;
		.MarkerTimeline {
			position: absolute;
			bottom: 0;
			cursor: pointer;
			z-index: 4;
			.lineM {
				display: block;
				background-color: $green;
				position: relative;
				width: 3px;
				height: 30px;
				&:hover {
					background-color: #0cf7ac;
				}
			}
		}
		.Progress {
			background-color: rgba($color: $blue, $alpha: 0.8);
			border-radius: 2px;
			height: 100%;
			z-index: 1;
			cursor: ew-resize;
			overflow: hidden;
			.ProgressFilled {
				display: block;
				background-color: $blue_medium;
				border-radius: 2px;
				width: 0;
				height: 30px;
				transition: all 0.3s ease-in;
				z-index: 2;
			}
		}
	}
	.TimeVideo {
		font-size: 0.8rem;
		color: #fff;
		background-color: $blue_medium;
		background-color: rgba($color: $blue, $alpha: 0.8);
		padding: 6px;
		height: 30px;
		border-radius: 2px;
		font-weight: 500;
	}
	.Control {
		position: relative;
		button {
			text-align: center;
			color: #fff;
			background-color: $blue;
			opacity: 0.9;
			height: 30px;
			border: none;
			width: 35px;
			border-radius: 2px;
			&.btnMark {
				float: left;
			}
		}
		:global {
			.bx {
				font-size: 16px;
				position: relative;
				top: 1px;
				text-align: center;
			}
		}
	}
}
