@import '../../../../styles/variables';

.DocumentVideo {
	margin-left: 20px;
	.boxVideo {
		margin-bottom: 10px;
	}
	.boxAddTimeVideo {
		display: grid;
		grid-template-columns: 26px auto 12%;
		button {
			padding: 0 !important;
			line-height: 0 !important;
			font-size: 0.8rem;
			height: 24px;
			background-color: $green;
			border-radius: 14px;
			color: #fff;
			font-weight: 600;
		}
		:global {
			.bxs-bookmark {
				font-size: 22px;
				color: $blue;
			}
		}
	}
}
