.DocumentVideo {
	margin-left: 20px;
	.boxVideo {
		margin-bottom: 10px;
	}
	.boxAddTimeVideo {
		display: grid;
		grid-template-columns: 40px auto;
		button {
			border-radius: 100%;
			width: 25px;
			height: 25px;
		}
		:global {
			.bx-plus {
				font-size: 14px;
				position: relative;
				top: -3px;
				padding: 0;
				margin: 0;
				left: -6px;
			}
		}
	}
}
