@import '../../../../styles/variables';

.DocumentoGetMarker {
	margin-top: 10px;
	.boxAddTimeVideo {
		display: grid;
		grid-template-columns: 26px auto 80px 80px;
		button {
			font-size: 0.8rem;
			line-height: 0 !important;
			text-align: center;
			color: #fff;
			padding: 0 14px !important;
			height: 24px;
			border-radius: 14px;
			font-weight: 600;
			&:last-child {
				margin-left: 6px;
			}
		}
		:global {
			.bxs-bookmark {
				font-size: 20px;
				color: $blue;
			}
		}
	}
}
