@import '../../../../styles/variables';

.MasEjemplosDetail {
  margin-bottom: 30px;
  padding: 20px;
  @extend %boxContent;
  @extend %boxShadowContent;


  h6 {
    font-size: 0.875rem;
    color: $gray_medium;
    margin-bottom: 0;
  }
  

  ul {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    list-style: circle;
    padding-inline-start: 0;
    list-style-position: inside;
    // column-count: 2;
    // column-gap: 20px;

    li {
      position: relative;
      padding: 15px 0 15px 16px;
      border-bottom: 1px dotted $write_gray_2;
      list-style-type: none;
      &:nth-child(3n) {
        padding-bottom: 0;
        border-bottom: none;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 24px;
        left: 0;
        width: 6px;
        height: 6px;
        border: 2px solid #2572dd;
        border-radius: 100%;
      }


      p {
        color: $black;
        margin-bottom: 0;
      }
    }
  }
}