@import '../../../styles/variables';

.HeaderHome {
  margin-bottom: 20px;
  display: flex;
  h5 {
    display: inline-block;
    margin-bottom: 0;
  }

  .iconCircle {
    display: inline-block;
    font-size: 14px;
    line-height: 1.9;
    text-align: center;
    color: #fff;
    background-color: $blue;
    margin-right: 6px;
    width: 26px;
    height: 26px;
    border-radius: 100%;
  }
  .btnPlusNew {
    background-color: transparent;
    border: none;
    border-radius: 2px;
    text-align: center;
    :global {
      .bx {
        position: relative;
        top: 2px;
        color: $gray_light;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}